@page "/moneycount-report/{b_id:int}"


@using System.ComponentModel.DataAnnotations
@using System.Threading
@using SingSiamOffice.Manage
@using SingSiamOffice.Models;
@using Microsoft.EntityFrameworkCore;
<Navbar2></Navbar2>

<style>

    th, td {
        padding: 3px;
    }
</style>

<div class="content">
    <Header />

    <div class="container-fluid mt-4 mb-4">
        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h5" Style="@headertext"><img class="rounded-circle" src="img/icons/budget.svg" alt="" style="width:3rem;"> รายงานประวัติการนับเงิน</MudText>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-2 mb-2">
                        <MudText Typo="Typo.body1" Style="@headertext">ค้นหาข้อมูลรายงานประวัติการนับเงิน</MudText>
                    </div>
                    <div class="col-md-3">
                        <MudDatePicker Label="เลือกปี เดือนที่ต้องการค้นหา" HelperText="@_monthDay?.ToShortDateString()" @bind-Date="_monthDay" OpenTo="OpenTo.Month"  DateFormat="MM/dd" />
                    </div>
                    <div class="col-md-4">
                        <MudStack Row="true" Spacing="1">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Style="@buttoncolor1" @onclick="()=>Fillter()">ค้นหาข้อมูล</MudButton>
                            <MudButton Variant="Variant.Outlined" Color="Color.Error" @onclick="()=>Reset()">ล้างค้นหา</MudButton>
                        </MudStack>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 mb-4" id="table_data">
        <div class="card outer-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-2 mt-2 text-center">
                        <MudText Typo="Typo.body1">รายงานประวัติการนับเงิน : กันยายน 2567</MudText>
                        <MudText Typo="Typo.body1">สาขา : ย่อยบ้านเขว้า</MudText> <MudButton Variant="Variant.Outlined" Color="Color.Error" @onclick="()=>printdata()">พิมพ์เอกสาร</MudButton>
                    </div>
          

                    <div class="col-md-12" >
                        <table class="table" id="myTable">

                            <thead>
                                <tr>
                                    <th scope="col">วันที่</th>
                                    <th scope="col">1,000</th>
                                    <th scope="col">500</th>
                                    <th scope="col">100</th>
                                    <th scope="col">50</th>
                                    <th scope="col">20</th>
                                    <th scope="col">10</th>
                                    <th scope="col">5</th>
                                    <th scope="col">2</th>
                                    <th scope="col">1</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var data in list_cash)
                                {
                                    <tr>
                                        <td scope="row">@data.DateCreate.ToString("dd/MM/yyyy")</td>
                                        <td><span style="@black">@data.Log1000</span></td>
                                        <td><span style="@black">@data.Log500</span></td>
                                        <td><span style="@black">@data.Log100</span></td>
                                        <td><span style="@black">@data.Log50</span></td>
                                        <td><span style="@black">@data.Log20</span></td>
                                        <td><span style="@black">@data.Log10</span></td>
                                        <td><span style="@black">@data.Log5</span></td>
                                        <td><span style="@black">@data.Log2</span></td>
                                        <td><span style="@black">@data.Log1</span></td>

                                    </tr>
                                }
   
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@code {
    // style
    string tableheader = "background-color:#840012; color:#ffff;";
    string headertext = "color:#840012; font-weight:600;";
    string buttoncolor1 = "background-color:#840012; color:#FFF; font-weight:600;";
    string settingbutton = "background-color:#840012; color:#FFF; font-weight:600; ";
    string buttoncollape = "background-color:#fc928c; color:#840012; font-weight:600;";
    string imporText = "color:#840012; font-weight:600;";
    string detailtext = "color:#1C2833 ; font-weight:600; font-style: italic;";

    string green = "color:#00b326; font-weight:600;";
    string blue = "color:#000eb3; font-weight:600;";
    string lightblue = "color:#009bb3; font-weight:600;";
    string orange = "color:#fb4900; font-weight:600;";
    string black = "font-weight:600;";

    private string year_data { get; set; }
    private string[] years =
    {
        "2565", "2566", "2567", "2568",
    };

    private string month_data { get; set; }
    private string[] months =
    {
    "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
    "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
    };
    [Inject]
    IJSRuntime JSRuntime { get; set; }
    [Parameter]
    public int b_id { get; set; }
    SingSiamOffice.Models.SingsiamdbContext db = new SingSiamOffice.Models.SingsiamdbContext();
    List<CashLog> list_cash = new List<CashLog>();
    private DateTime? _monthDay;
    private void Fillter()
    {

        if (_monthDay != null)
        {
            list_cash = db.CashLogs.Include(s => s.Branch).Where(s => s.BranchId == b_id && s.DateCreate.Month == _monthDay.Value.Month &&
                s.DateCreate.Year == _monthDay.Value.Year).ToList();
        }
        StateHasChanged();
    }
    private void Reset()
    {

        if (_monthDay != null)
        {
            list_cash = db.CashLogs.Include(s => s.Branch).Where(s => s.BranchId == b_id).ToList();
        }
        StateHasChanged();
    }

    private void load_data()
    {
        list_cash = db.CashLogs.Include(s => s.Branch).Where(s => s.BranchId == b_id).ToList();
    }
    private void printdata()
    {
        JSRuntime.InvokeVoidAsync("printDiv", "table_data");
    }

    protected override async Task OnInitializedAsync()
    {

        load_data();
        StateHasChanged();
    }
}
