@page "/montlyIncome-report"
@* <h3>MontlyIncomeReport</h3> *@

@using System.ComponentModel.DataAnnotations
@using System.Threading
@* <h3>AccountExpenseReport</h3> *@

@* 03 รายงานสรุปรายรับประจําเดือน*@


<Navbar2></Navbar2>

<style>

    th, td {
        padding: 3px;
    }
</style>

<div class="content">
    <Header />

    <div class="container-fluid mt-4 mb-4">
        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h5" Style="@headertext"><img class="rounded-circle" src="img/icons/budget.svg" alt="" style="width:3rem;"> รายงานสรุปรายรับประจําเดือน</MudText>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-2 mb-2">
                        <MudText Typo="Typo.body1" Style="@headertext">ค้นหาข้อมูลรายงานสรุปรายรับประจําเดือน</MudText>
                    </div>
                    <div class="col-md-3">
                        <MudSelect T="string" Label="ระบุปี" HelperText="ระบุปีที่ต้องการหาข้อมูล" @bind-Value="year_data" Variant="Variant.Outlined" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var year in years)
                            {
                                <MudSelectItem T="string" Value="@year">@year</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="col-md-3">
                        <MudSelect T="string" Label="ระบุเดือน" HelperText="ระบุเดือนต้องการหาข้อมูล" @bind-Value="month_data" Variant="Variant.Outlined" Margin="Margin.Dense" AnchorOrigin="Origin.BottomCenter">
                            @foreach (var month in months)
                            {
                                <MudSelectItem T="string" Value="@month">@month</MudSelectItem>
                            }
                        </MudSelect>
                    </div>
                    <div class="col-md-4">
                        <MudStack Row="true" Spacing="1">
                            <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.Search" Size="Size.Large" Color="Color.Info">ค้นหา</MudButton>
                            <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Close" Size="Size.Large" Color="Color.Error">ล้างข้อมูล</MudButton>
                        </MudStack>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mb-2 mt-2 text-center">
                        <MudText Typo="Typo.body1">รายงานสรุปรายรับประจําเดือน : กันยายน 2567</MudText>
                        <MudText Typo="Typo.body1">สาขา : ย่อยบ้านเขว้า</MudText>
                    </div>

                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th scope="col" colspan="6" class="text-center">รายการชำระค่างวด</th>
                                    <th scope="col" colspan="2" class="text-center">รายการรับเงิน</th>
                                    <th scope="col" colspan="2" class="text-center">รายการปล่อยกู้</th>
                              
                                </tr>
                            </thead>
                            <thead>
                                <tr>
                                    <th scope="col">ว/ด/ป</th>
                                    <th scope="col">ค่างวด</th>
                                    <th scope="col">ค่าปรับ</th>
                                    <th scope="col">รวม</th>
                                    <th scope="col">ค่างวด</th>
                                    <th scope="col">ค่าปรับ</th>
                                    <th scope="col">รวม</th>
                                    <th scope="col">รวมเงิน</th>
                                    <th scope="col">total</th>
                                    <th scope="col">ปล่อยกู้</th>
                                    <th scope="col">รวมเงิน</th>
                                 
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">01 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                     <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                 

                                </tr>
                                <tr>
                                    <th scope="row">02 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>

                                </tr>
                                <tr>
                                    <th scope="row">03 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>

                                </tr>
                                <tr>
                                    <th scope="row">04 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                </tr>
                                <tr>
                                    <th scope="row">05 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>

                                </tr>
                                <tr>
                                    <th scope="row">06 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>

                                </tr>
                                <tr>
                                    <th scope="row">07 ก.ย. 67</th>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@lightblue">220</span></td>
                                    <td><span style="@lightblue">30,579</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@orange">220</span></td>
                                    <td><span style="@orange">56,789</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@blue">91,610</span></td>
                                    <td><span style="@orange">153,000</span></td>
                                    <td><span style="@orange">153,000</span></td>

                                </tr>
                            </tbody>
                            <tfoot >
                                <tr style="@tablefooter">
                                    <th scope="row">รวม</th>
                                    <td>30,579</td>
                                    <td>220</td>
                                    <td>30,579</td>
                                    <td>56,789</td>
                                    <td>220</td>
                                    <td>56,789</td>
                                    <td></td>
                                    <td>91,610</td>
                                    <td></td>
                                    <td>153,000</td>

                                </tr>
                                <tr class="text-end border-white" style="@totalfooter">
                                    <th></th>
                                    <td colspan="2">ยอดเก็บ Vat</td>
                                    <td>220</td>
                                    <td>ราย</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">ล/ค ประจําเดือนก่อน</td>
                                    <td>220</td>
                                    <td>ราย</td>
                                </tr>
                                <tr class="text-end border-white" style="@totalfooter">
                                    <th></th>
                                    <td colspan="2"> ยอดเก็บ Hide</td>
                                    <td>220</td>
                                    <td>ราย</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">ล/ค ประจําเดือนนี้</td>
                                    <td>220</td>
                                    <td>ราย</td>
                                </tr>
                                <tr class="text-end border-white" style="@totalfooter">
                                    <th></th>
                                    <td colspan="2">รวม</td>
                                    <td>220</td>
                                    <td>บาท</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">ยอดเก็บรวม</td>
                                    <td>220</td>
                                    <td>บาท</td>
                                </tr>
                                <br/>
                                <tr class="text-end border-white" style="@totalfooter">
                                    <th></th>
                                    <td colspan="2">% Vat รวม</td>
                                    <td>220</td>
                                    <td>%</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">รายรับรวม</td>
                                    <td>220</td>
                                    <td>บาท</td>
                                </tr>
                                <tr class="text-end border-white" style="@totalfooter">
                                    <th></th>
                                    <td colspan="2">% Hide รวม</td>
                                    <td>220</td>
                                    <td>%</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">รายจ่ายรวม</td>
                                    <td>220</td>
                                    <td>บาท</td>
                                </tr>
                                <tr class="text-end border-white" style="@totalfooter">
                                    <th></th>
                                    <td colspan="2">% รวม</td>
                                    <td>220</td>
                                    <td>%</td>
                                    <td colspan="2"></td>
                                    <td colspan="2">กำไรขั้นต้น</td>
                                    <td>220</td>
                                    <td>บาท</td>
                                </tr>
                            </tfoot>
                    
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
@code {
    // style
    string tableheader = "background-color:#840012; color:#ffff;";
    string tablefooter = "background-color:#840012; color:#ffff;";
    string totalfooter = "background-color:#ffff;color:#840012;border-bottom: none; border:none; padding: 2px; font-weight:600;";
    string headertext = "color:#840012; font-weight:600;";
    string buttoncolor1 = "background-color:#840012; color:#FFF; font-weight:600;";
    string settingbutton = "background-color:#840012; color:#FFF; font-weight:600; ";
    string buttoncollape = "background-color:#fc928c; color:#840012; font-weight:600;";
    string imporText = "color:#840012; font-weight:600;";
    string detailtext = "color:#1C2833 ; font-weight:600; font-style: italic;";

    string green = "color:#00b326; font-weight:600;";
    string blue = "color:#000eb3; font-weight:600;";
    string lightblue = "color:#009bb3; font-weight:600;";
    string orange = "color:#fb4900; font-weight:600;";
    string black = "font-weight:600;";

    private string year_data { get; set; }
    private string[] years =
    {
        "2565", "2566", "2567", "2568",
    };

    private string month_data { get; set; }
    private string[] months =
    {
    "มกราคม", "กุมภาพันธ์", "มีนาคม", "เมษายน", "พฤษภาคม", "มิถุนายน",
    "กรกฎาคม", "สิงหาคม", "กันยายน", "ตุลาคม", "พฤศจิกายน", "ธันวาคม"
    };

}
