@page "/customerpaymentreport/{promise_id:int}"
@* <h3>CustomerPaymentReport</h3> *@
@using Models
@using SingSiamOffice.Manage;
@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@using Newtonsoft.Json;

<style>
    html, body {
        background-color: #fff;
        max-width: 750px;
    }
    .left-detail {
        line-height: 1px;
    }

    .contract-detail {
        line-height: 1.5px;
    }

    .headerTitle {
        font-weight: bold;
    }
    th,td{
        font-size:12px;
    }
</style>
<div id="printableArea">
    <div class="container-fuid">
        <div class="row">
            <div class="col-12 text-center">
                <div class="headerTitle">
                    บริษัท สิงห์สยาม ลิสซิ่ง จำกัด
                </div>
                <div class="headerTitle">
                    [เงินด่วน พร้อมใช้] เลขประจำตัวผู้เสียภาษี 0365561000591
                </div>
            </div>
            <p>---------------------------------------------------------------------------------------------------------------------------------------------------</p>
            <div class="container contract-detail mt-4 mb-4">
                <div class="col-12">
                    <p class="contract-detail"><small>เลขที่อ้างอิง : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>@_promises.Promiseno</strong> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; วันที่ทำสัญญา:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_promises.Tdatetime.Value.ToString("d MMMM yyyy", new CultureInfo("th-TH"))</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เลขที่สัญญา: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <strong>@_promises.Refcode</strong></small></p>
                    <p class="contract-detail"><small>ผู้ทำสัญญา : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_promises.Customer.FullName</strong></small></p>
                    <p class="contract-detail"><small>ที่อยู่ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_promises.Customer.Address</strong></small></p>
                    <p class="contract-detail"><small>บุคคลอ้างอิง : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>-</strong></small></p>
                    @* ประเภทหลักประกัน *@
                    <p class="contract-detail"><small>หลักประกัน: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_promises.Product.Name</strong></small></p>
                    @if (_promises.ProductId == 1 || _promises.ProductId == 2 || _promises.ProductId == 4)
                    {
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยี่ห้อรถ &nbsp;&nbsp;<strong>@collateral1.vehicle_brand</strong>, รุ่น &nbsp;&nbsp;<strong>@collateral1.vehicle_ver</strong>, รถปี &nbsp;&nbsp;<strong>@collateral1.vehicle_yr</strong></small></p>
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; สี &nbsp;&nbsp;<strong>@collateral1.vehicle_color</strong>, เลขทะเบียน &nbsp;&nbsp;<strong>@collateral1.plate</strong>, จังหวัด &nbsp;&nbsp;<strong>@_promises.Province.ProvinceName</strong></small></p>
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เลขตัวรถ &nbsp;&nbsp;<strong>@collateral1.machineNo</strong>, เลขตัวถัง &nbsp;&nbsp;<strong>@collateral1.chassisNo</strong>, วันที่ครบภาษี &nbsp;&nbsp;<strong>@collateral1.tax_issue</strong></small></p>
                    }
                  
                    @if (_promises.ProductId == 3)
                    {
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ประเภทโฉนด &nbsp;&nbsp;<strong>@collateral2.deedType</strong>, เลขที่โฉนด &nbsp;&nbsp;<strong>@collateral2.deedNo</strong>, ประเภทที่ดิน &nbsp;&nbsp;<strong>@collateral2.landType</strong></small></p>
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ระวาง &nbsp;&nbsp;<strong>@collateral2.mapsheet</strong>, เลขที่ดิน &nbsp;&nbsp;<strong>@collateral2.parcelNo</strong>, เล่ม &nbsp;&nbsp;<strong>@collateral2.volumn</strong></small></p>
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; หน้า &nbsp;&nbsp;<strong>@collateral2.page</strong>, หน้าสำรวจ &nbsp;&nbsp;<strong>@collateral2.pageInspect</strong>, จำนวนที่ดิน &nbsp;&nbsp;<strong>@collateral2.landAmount</strong></small></p>
                    }
                    @if (_promises.ProductId == 5)
                    {
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เลขที่สมุด &nbsp;&nbsp;<strong>@collateral3.bookNo</strong>, เลขที่รหัสเกษตรกร &nbsp;&nbsp;<strong>@collateral3.farmerCode</strong>, วันที่ขึ้นทะเบียน &nbsp;&nbsp;<strong>@collateral3.fregisDate</strong></small></p>
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เอกสารสิทธิ์ &nbsp;&nbsp;<strong>@collateral3.docRight</strong>, การถือครอง &nbsp;&nbsp;<strong>@collateral3.fHolding</strong>, กิจกรรม &nbsp;&nbsp;<strong>@collateral3.fActivity</strong></small></p>
                        <p class="contract-detail"><small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; เนื้อที่ &nbsp;&nbsp;<strong>@collateral3.fArea</strong>, ผลผลิต &nbsp;&nbsp;<strong>@collateral3.fProduct</strong>, ที่ตั้ง X:Y:Z &nbsp;&nbsp;<strong>@collateral3.fLocate</strong></small></p>
                    }

                    @if (_guarantor != null)
                    {
                        if (_guarantor.Count > 0)
                        {
                            for (int i = 0; i < _guarantor.Count; i++)
                            {
                                if (i == 0)
                                {
                                    <p class="contract-detail"><small>ผู้ค้ำประกัน#1 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_guarantor[i].GuarantorName</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ความสัมพันธ์ผู้ซื้อ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_guarantor[i].GuarantorRelation</strong></small></p>
                                    <p class="contract-detail"><small>บุคคลอ้างอิง: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>-</strong></small></p>
                                }
                                else if (i == 1)
                                {
                                    <p class="contract-detail"><small>ผู้ค้ำประกัน#2 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_guarantor[i].GuarantorName</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;ความสัมพันธ์ผู้ซื้อ : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>@_guarantor[i].GuarantorRelation</strong></small></p>
                                    <p class="contract-detail"><small>บุคคลอ้างอิง: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>-</strong></small></p>

                                }

                            }
                        }
                        else
                        {
                            <p class="contract-detail"><small>ผู้ค้ำประกัน#1 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ไม่มีคนค้ำประกัน</strong></small></p>
                            <p class="contract-detail"><small>บุคคลอ้างอิง: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>-</strong></small></p>
                        }


                    }
                    else
                    {
                        <p class="contract-detail"><small>ผู้ค้ำประกัน#1 : &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>ไม่มีคนค้ำประกัน</strong></small></p>
                        <p class="contract-detail"><small>บุคคลอ้างอิง: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>-</strong></small></p>
                    }

                       
                      
                    
                 
                  
                    <p class="contract-detail text-end"><small>เงินดาวน์ : &nbsp;&nbsp; <strong>0</strong> &nbsp;&nbsp; จำนวนงวด: &nbsp;&nbsp; <strong>@_promises.Periods</strong>&nbsp;&nbsp; เงินต้นทำสัญญา: &nbsp;&nbsp; <strong>@_promises.Capital</strong>&nbsp;&nbsp; เงินต้นคงเหลือ: &nbsp;&nbsp; <strong>@_promises.Capital</strong>&nbsp;&nbsp; ชำระทุกวันที่: &nbsp;&nbsp; <strong>@_promises.Daypaid</strong></small></p>
                    <p class="contract-detail text-end"><small>@* ภาษีมูลค่าเพิ่ม (7%) : &nbsp;&nbsp; <strong></strong> &nbsp;&nbsp; *@ ดอกเบี้ย: &nbsp;&nbsp; <strong>@_promises.Interest </strong>@* &nbsp;&nbsp; ต่อปี: &nbsp;&nbsp; *@ <strong></strong></small></p>
                </div>
                <br />
                <div class="col-12 mt-2 mb-4">
                    <table class="table table-bordered" style="padding:0; width:100%;">
                        <thead class="text-center">
                            <tr style="background-color:#e5e5e5;">
                                <th style="font-weight:bold;">งวด</th>
                                <th style="font-weight:bold;">วันที่ครบ</th>
                                <th style="font-weight:bold;">วันที่ชำระ</th>
                                <th style="font-weight:bold;">ใบเสร็จ</th>
                                <th style="font-weight:bold;">ค่างวด</th>
                                <th style="font-weight:bold;">เงินต้น</th>
                                 <th style="font-weight:bold;">ดอกเบี้ย</th>
                            @*     <th style="font-weight:bold;">vat</th> *@
                                <th style="font-weight:bold;">ค่าปรับ</th>
                                <th style="font-weight:bold;">ทวงถาม</th>
                                <th style="font-weight:bold;">รวมชำระ</th>
                                <th style="font-weight:bold;">เงินต้นคงเหลือ</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var items in _periodtrans)
                            {
                                <tr>
                                    <td>@items.Period</td>
                                    <td>@items.Tdate</td>
                                    <td>@items.Receiptdescs.FirstOrDefault()?.Tdate </td>
                                    <td>@items.Receiptdescs.FirstOrDefault()?.Receiptno </td>
                                    <td>
                                        <p><strong>@items.Amount</strong></p>
                                       
                                        <p><small>
                                                @if (items.Paidamount != 0)
                                                {
                                                    @("-" + items.Paidamount.ToString())
                                                }
                                        
                                        </small></p>
                                    </td>
                                    <td>
                                        <p><strong>@items.Capital</strong></p>
                                        <p><small>
                                                @if (items.Cappaid != 0){
                                                
                                                                            @("-" + items.Cappaid.ToString())
                                                }
                                            </small>
                                        </p>
                                    </td>
                                    <td>
                                        <p><strong>@items.Interest</strong></p>
                                        <p><small>
                                                @if (items.Intpaid != 0){

                                                    @("-" + items.Intpaid.ToString())


                                                }
                                            </small>
                                        </p>
                                    </td>

                                    <td>@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault()?.Chargeamt </td>
                                    <td>@items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).FirstOrDefault()?.Lateamt </td>
                                    <td>@items.amount_paid</td>
                                    <td>@items.amount_remain</td>
                                </tr>


                            }
                         
                        </tbody>
                        <tfoot>
                            <tr>
                              @*   <td></td>
                                <td>ยอดรวม</td>
                                <td></td>
                                <td>4,010</td>
                                <td>4,010</td>
                                <td>3,126</td>
                                <td>876</td>

                                <td>0</td>
                                <td>0</td>
                                <td>4,010</td>
                                <td></td> *@
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mt-4">
                <p>พิมพ์เมื่อวันที่ <strong> @date</strong></p>

            </div>
            <div class="col-6 mt-4 text-end">
                <p>บันทึกข้อมูลโดย: <strong>@_promises.Usercode :@globalData.fullname</strong></p>

            </div>
        </div>
    </div>
</div>


@code {
    DateOnly date { get; set; } = DateOnly.FromDateTime(DateTime.Now);
    int collateral { get; set; } = 2;
    [Parameter]
    public int promise_id { get; set; }
    private Promise _promises { get; set; }
    SingsiamdbContext db = new SingsiamdbContext();
    [Inject]
    Manage.Managements Managements { get; set; }
    [Inject]
    Manage.GlobalData globalData { get; set; }
    Collateral1 collateral1 = new Collateral1();
    Collateral2 collateral2 = new Collateral2();
    Collateral3 collateral3 = new Collateral3();

    private List<Guarantor> _guarantor { get; set; }
    private List<Periodtran> _periodtrans { get; set; }
    protected override async Task OnInitializedAsync()
    {
        _promises = db.Promises.Include(s => s.Periodtrans).Include(s => s.Customer).ThenInclude(s => s.Branch).Include(s => s.Product).Include(s => s.Province).Where(s => s.Id == promise_id).AsNoTracking().FirstOrDefault();


        _promises.Interest = (decimal)_promises.Periodtrans.Select(s => s.Interest).FirstOrDefault();
        _periodtrans = db.Periodtrans.Include(s=>s.Promise).Include(s => s.Receiptdescs).ThenInclude(s=>s.Receipttran).Where(s => s.PromiseId == promise_id).ToList();
        decimal CapitalRemain = 0m;
        List<int> list_receipttrans = new List<int>();
        list_receipttrans = db.Receiptdescs.AsNoTracking().Where(s => s.PromiseId == promise_id).Select(s => s.ReceipttranId).Distinct().ToList();
        foreach (var items in _periodtrans )
        {
            if (items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).Select(s => s.Receipttran.Receiptdesc).FirstOrDefault() == "ปิดสัญญาก่อนกำหนด")
            {

                items.amount_paid = (decimal)items.Receiptdescs.Where(s => s.PeriodtranId == items.Id && list_receipttrans.Contains(s.ReceipttranId)).Select(s => s.Receipttran.Netamount).FirstOrDefault();



            }
            else
            {
                // var receipttrans_Id = items.Receiptdescs.Where(s => s.PeriodtranId == items.Id).Select(s => s.Receipttran.Id).FirstOrDefault();
                try
                {
                    items.amount_paid = (decimal)items.Receiptdescs.Where(s => s.PeriodtranId == items.Id && list_receipttrans.Contains(s.ReceipttranId)).Select(s => s.Receipttran.Amount).FirstOrDefault();
                }
                catch
                {
                    
                }
               
              
               
            }
            if (items.Period == 1)
            {
                items.amount_remain = (decimal)items.Promise.Capital - (decimal)items.Cappaid;
                CapitalRemain = items.amount_remain;
            }
            else
            {
                items.amount_remain = (decimal)CapitalRemain - (decimal)items.Cappaid;
                CapitalRemain = items.amount_remain;
            }


        }
        try
        {
            _guarantor = await Managements.GetGurantorbyPromiseId(promise_id); //ผู้ค้ำ

        }
        catch(Exception ex) { }
        List<int> product_group = new List<int> { 1, 2, 4 };
        if (product_group.Contains(_promises.ProductId))
        {
            collateral1 = JsonConvert.DeserializeObject<Collateral1>(_promises.JsonPrddesc);
        }
        if (_promises.ProductId == 3)
        {
            collateral2 = JsonConvert.DeserializeObject<Collateral2>(_promises.JsonPrddesc);
        }
        if (_promises.ProductId == 5)
        {
            collateral3 = JsonConvert.DeserializeObject<Collateral3>(_promises.JsonPrddesc);
        }
    }
    public string FormatThaiYear(DateTime date)
    {
        // Add 543 years to the Gregorian year to get the Thai Buddhist year
        int thaiYear = date.Year + 543;

        // Format the date as you want, for example, "dd/MM/yyyy"
        return date.ToString($"dd/MM/{thaiYear}");
    }
    public string FormatThaiYear_Increate(DateTime date)
    {
        // Add 543 years to the Gregorian year to get the Thai Buddhist year
        int thaiYear = date.Year + 544;

        // Format the date as you want, for example, "dd/MM/yyyy"
        return date.ToString($"dd/MM/{thaiYear}");
    }
    public string FormatThaiYear_Increase_str(string dateStr)
    {
        // Parse the input string to a DateTime object
        DateTime date = DateTime.ParseExact(dateStr, "dd/MM/yyyy", null);

        // Add 544 years to the Gregorian year to get the desired Thai Buddhist year
        int thaiYear = date.Year + 544;

        // Return the date formatted with the new Thai year
        return date.ToString($"dd/MM/{thaiYear}");
    }

}
