@page "/customerdept/{c_id:int}"
@* <h3>Customerdept</h3> *@
@using Models

@using Microsoft.EntityFrameworkCore;
@using System.Globalization;
@inject ISnackbar Snackbar
@using SingSiamOffice.Manage
@inject UserLoginService userLoginService
@using Blazored.LocalStorage
@inject ILocalStorageService localStorage
<Navbar2></Navbar2>
<div class="content">
    <Header/>



    <div class="container mt-4 mb-4">
        <div class="row">
            <div class="col-12 mt-4 mb-4">
                <MudText Typo="Typo.h5" Style="@headertext"><img src="img/icons/depts.svg" alt="" style="width:3rem;"> เมนูเพิ่มรายการหนี้อื่นๆ</MudText>
            </div>
        </div>
    </div>

    <div class="container mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-header" style="@tableheader">ข้อมูลลูกค้า</div>
            <div class="card-body">
                <div class="row">
                  
                    <div class="col-md-12 pb-3">
                        <div class="row">
                            
                            <div class="col-4 pb-1 text-center">
                                <MudStack>
                                    <MudText Typo="Typo.body1" Style="@imporText">วันที่ทำรายการ</MudText>
                                    <MudText Typo="Typo.body1">@DateTime.Now.ToString("d MMMM yyyy", new CultureInfo("th-TH"))</MudText>
                                </MudStack>
                            </div>
                            <div class="col-4 pb-1 text-center">
                                <MudStack>
                                    <MudText Typo="Typo.body1" Style="@imporText">เลขบัตรประชาชน</MudText>
                                    <MudText Typo="Typo.body1">@cus_info.NatId</MudText>
                                </MudStack>

                            </div>
                            <div class="col-4 pb-1 text-center">
                                <MudStack>
                                    <MudText Typo="Typo.body1" Style="@imporText">ชื่อ - สกุล</MudText>
                                    <MudText Typo="Typo.body1">@cus_info.FullName</MudText>
                                </MudStack>
                            </div>
                            <div class="col-4 pb-1 text-center">
                                <MudStack>
                                    <MudText Typo="Typo.body1" Style="@imporText">เบอร์โทรศัพท์</MudText>
                                    <MudText Typo="Typo.body1">@cus_info.Phone</MudText>
                                </MudStack>
                            </div>
                           
                        </div>
                    </div>
                    
                </div>

            </div>
        </div>
    </div>


    <div class="container mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-body">
                <div class="row">
                   <div class="col-md-5 pb-3">
                        <MudTextField @bind-Value="depts_details" Label="รายละเอียดหนี้" Placeholder="ระบุรายละเอียดหนี้" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                   </div>
                    <div class="col-md-3 pb-3">
                        <MudTextField @bind-Value="depts_amount" Label="จำนวนเงิน" Placeholder="ระบุจำนวนเงิน" Variant="Variant.Outlined" Margin="Margin.Dense"></MudTextField>
                    </div>
                    <div class="col-md-2 pb-3">
                        <MudButton Variant="Variant.Filled" StartIcon="@Icons.Material.Filled.KeyboardArrowDown" DisableElevation="true" Style="@buttoncolor1" Size="Size.Large" @onclick="()=>add_Externalar()">เพิ่มรายการ</MudButton>
                    </div>
                    <div class="col-md-2 pb-3">
                        <MudButton Variant="Variant.Filled"  DisableElevation="true" Style="@buttoncolor2" Size="Size.Large" @onclick="()=>refresh()">ล้างรายการ</MudButton>
                    </div>
                    <div class="col-md-12 mt-4 mb-4">
                       <div class="row">
                            <div class="col-md-6 pb-1">
                               <MudText Typo="Typo.body1" Style="@imporText">เลขทีใบเสร็จรับเงิน @Bill_code</MudText>
                               
                               
                            </div>
                            <div class="col-6 pb-1 text-end">
                                <MudText Typo="Typo.body1" Style="@imporText">จำนวนชำระครั้งนี้: @selectedItems?.Where(s=>s.PaidComplete == false).Sum(x => x.Aramount).Value.ToString("N0")</MudText>
                            </div>
                       </div>
                    </div>
                    <div class="col-md-12 mt-4 mb-4">
                            <MudTable  @ref="_table" T="Externalar" Items="@Elements" MultiSelection="true" SelectionChangeable="_selectionChangeable" Hover="true"
                                        @bind-SelectedItems="selectedItems" OnRowClick="@OnRowClick" SelectOnRowClick="@_selectOnRowClick">
                        
                                <HeaderContent >
                                    <MudTh Style="@tableheader">ลำดับ</MudTh>
                                    <MudTh Style="@tableheader">วันที่</MudTh>
                                    <MudTh Style="@tableheader">รายละเอียด</MudTh>
                                    <MudTh Style="@tableheader">ยอดค้างชำระ</MudTh>
                                    <MudTh Style="@tableheader">สถานะ</MudTh>
                                @* <MudTh>จัดการ</MudTh> *@
                            </HeaderContent>
                            <RowTemplate>
                                <MudTd DataLabel="ลำดับ">@context.No</MudTd>
                            @*     <MudTd DataLabel="Sign">@context.Docno</MudTd> *@
                                <MudTd DataLabel="วันที่">@context.Tdate.ToString("dd/MM/yyyy")</MudTd>
                                <MudTd DataLabel="รายละเอียด">@context.Tdesc</MudTd>
                                <MudTd DataLabel="ยอดค้างชำระ">@context.Aramount</MudTd>
                               @if(context.PaidComplete.Value){
                                    <MudTd DataLabel="สถานะ">
                                        <MudChip T="string" Color="Color.Success">ชำระสำเร็จ</MudChip>
                                    </MudTd>
                                }
                                else{

                                    <MudTd DataLabel="สถานะ">
                                        <MudChip T="string" Color="Color.Error">ค้างชำระ</MudChip>
                                    </MudTd>
                                }

                                @* <MudTd DataLabel="จัดการ"> <MudButton Variant="Variant.Outlined" StartIcon="@Icons.Material.Filled.Remove" Color="Color.Error" @onclick="()=>remove_list(context.No)">ลบรายการ</MudButton></MudTd> *@
                            </RowTemplate>
                            <PagerContent>
                                <MudTablePager PageSizeOptions="new int[] { 10, 25, 50, 100 }" />
                            </PagerContent>
                          
                        </MudTable>
                  
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container mt-4 mb-4">
        <div class="card outer-card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-12 mt-3 mb-3 text-center">
                        <MudText Typo="Typo.body1" Color="Color.Error">* กรุณาตรวจสอบข้อมูลให้ถูกต้องและครบถ้วนทุกครั้งก่อนการเพิ่มข้อมูล</MudText>
                    </div>
                    <div class="col-md-12 mt-3 mb-3 text-center">
                        <MudButton Variant="Variant.Outlined" DisableElevation="true" Color="Color.Error" @onclick="()=>goBack()">ย้อนกลับ</MudButton>&nbsp;
                        <MudButton Variant="Variant.Filled" DisableElevation="true" Style="@buttoncolor1" @onclick="()=>submit()">เพิ่มข้อมูล</MudButton>&nbsp;
                        <MudButton Variant="Variant.Filled" DisableElevation="true" Style="@buttoncolor3" @onclick="()=>print()">ปริ้นใบเสร็จ</MudButton>
                     
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@code {
    // style
    string tableheader = "background-color:#840012; color:#ffff;";
    string headertext = "color:#840012; font-weight:600;";
    string buttoncolor1 = "background-color:#840012; color:#FFF; font-weight:600;";
    string buttoncolor2 = "background-color:#120661; color:#FFF; font-weight:600;";
    string buttoncolor3 = "background-color:#120661; color:#FFF; font-weight:600;";
    string settingbutton = "background-color:#840012; color:#FFF; font-weight:600; ";
    string buttoncollape = "background-color:#fc928c; color:#840012; font-weight:600;";
    string imporText = "color:#840012; font-weight:600;";
    string detailtext = "color:#1C2833 ; font-weight:600; font-style: italic;";
    string detailtextgreen = "color:#1D8348; font-weight:600; font-style: italic;";
    string detailtextred = "color:#922B21; font-weight:600; font-style: italic;";

    [Parameter]
    public int c_id { get; set; }
    SingsiamdbContext db = new SingsiamdbContext();
    Customer cus_info = new Customer();
    string Bill_code { get; set; }
    string Bill_code_before { get; set; }
    List<Externalar> list_Externalar = new List<Externalar>();
    Login userLogin = new Login();

    private string _selectedItemText = "No row clicked";
    private MudTable<Externalar> _table;
    private HashSet<Externalar> selectedItems = new HashSet<Externalar>();
    private List<Externalar> Elements = new List<Externalar>();
    private bool _selectOnRowClick = true;
    private bool _selectionChangeable = true;
    double sum_total { get; set; }
    void OnRowClick(TableRowClickEventArgs<Externalar> args)
    {
        _selectedItemText = $"{args.Item.Id}";

        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {
        try
        {
            var auth = await localStorage.GetItemAsync<string>("authToken");
            if (auth == null)
            {
                navigationManager.NavigateTo("/");
            }
            else
            {
                userLogin = db.Logins.Where(s => s.Username == auth).FirstOrDefault();
            }
        }
        catch
        {
            navigationManager.NavigateTo("/");
        }

        get_data();

    }
    private void get_data()
    {
        cus_info = db.Customers.Include(s => s.Branch).Where(s => s.CustomerId == c_id).FirstOrDefault();
        int code = db.Branches.Where(s=>s.Id == cus_info.BranchId).AsNoTracking().FirstOrDefault().Arpaidno.Value;
        Bill_code = $"{cus_info.Branch.Code}_{code.ToString("D7")}";
        Elements = db.Externalars.Where(s => s.CustomerId == c_id).OrderByDescending(s => s.Id).AsNoTracking().ToList();
        int cmd = 1;
        foreach (var data in Elements)
        {
            data.No = cmd;
            cmd++;
        }
    }
    private  void add_Externalar()
    {
        int cmd = 0;
        if (list_Externalar.Count() == 0)
        {
            cmd = 1;
        }
        else
        {
            cmd = list_Externalar.LastOrDefault().No;
            cmd++;
        }
        if (depts_details != null && depts_amount != null)
        {
            Externalar to_add = new Externalar()
                {
                    No = cmd,
                    Tdate = DateTime.Now,
                    Docno = null,
                    CustomerId = c_id,
                    Tdesc = depts_details,
                    Aramount = depts_amount,
                    Paidamount = 0,
                    LoginId = userLogin.Id,
                    Clientno = cus_info.Branch.Code,
                    PaidComplete = false
                };
            db.Externalars.Add(to_add);
            db.SaveChanges();
            get_data();
            depts_details = null;
            depts_amount = null;
            Snackbar.Add("เพิ่มข้อมูลสำเร็จ", Severity.Success);
            StateHasChanged();

        }
        else
        {
            Snackbar.Add("โปรดเลือกรายการและใส่จำนวน", Severity.Error);
        }
    }
    private void remove_list( int no)
    {
        list_Externalar.RemoveAt(no-1);
        var cmd = 1;
        if (list_Externalar.Count() >0)
        {
            foreach (var data in list_Externalar)
            {
                data.No = cmd;
                cmd++;
            }
        }

    }
    private void refresh()
    {
        get_data();
        depts_details = null;
        depts_amount = null;
        StateHasChanged();
    }

    private async Task print()
    {
        var check_in_table = db.Externalars.Where(s => s.Docno == Bill_code_before).Any();
        if (check_in_table)
        {
            string url = $"/CustomerDeptRecipe/{Bill_code_before}";
            await JSRuntime.InvokeAsync<object>("open", url, "_blank");
        }
        else
        {
            Snackbar.Add("โปรดเพิ่มข้อมูลก่อนกด print ใบเสร็จรับเงิน", Severity.Error);
        }

        //navigationManager.NavigateTo("/paymentrecipe");
    }

}
